<div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12">            
      <router-outlet></router-outlet>                    
    </div>
</div>

<!-- <div class="pcoded-main-container" >
    <div id="rightmenu">
        <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <li *ngFor="let child of lobbyMenuItems;">
                <a class="nav-link text-left" id="v-pills-settings-tab"  routerLinkActive="active" routerLink="/{{child.path}}" role="tab">
                    <i class="fa {{child.icon}}"><div style="font-size: 8px">{{child.name}}</div></i>
                </a>
            </li>
        </ul>
    </div>    
    <div class="pcoded-content" id="main-content">
		  <div style="padding: 1px;"></div>
		  <div class="col-md-12 col-xl-12">
        <div class="row">
          <div class="col-md-12 col-xl-12 col-sm-12">            
            <router-outlet></router-outlet>                    
          </div>
        </div>
      </div>
    </div>
  </div> -->