#image_profile {
    img {
        float: left;
        border-radius: 50%;
    }
    #profile_detail {
      padding: 0px;
      margin-left: 120px;


        #profile_name {
            font-weight: 600;
        }
    }
  }
