<div class="row">
    <div class="col-md-4 col-xl-4">
        <div class="row" *ngIf="!showVideo">
            <div class="col-12 p-1"><b>Speakers</b></div>
            <div *ngIf="session_speakers.length===0">
                <div>No Speaker is available.</div>
            </div>
            <div class="col-md-6 col-xl-6 p-1" *ngFor="let speaker of session_speakers">
                <div id="image_fluid">
                    <img src="{{speaker.image}}" alt="" class="img-fluid">
                    <div id="img_text">{{speaker.name}}</div>
                    <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                    <!-- <div class="toggle-icon">
                        <li><i class="fa fa-times" aria-hidden="true"></i></li>                   
                        <li><i class="fas fa-microphone" aria-hidden="true"></i></li>
                        <li><i class="fas fa-video" aria-hidden="true"></i></li>                
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row" *ngIf="showVideo">
            <div class="col-12 p-1">
                <b>Speakers</b>
            </div>
            <div class="col-12 p-1" *ngIf="remoteCalls.length === 0">                
                <div>Waiting for other speakers to join the call.</div>
            </div>
            <div class="col-md-6 col-xl-6 p-1" *ngFor="let remote of remoteCalls; let i = index;">                
                <div id="image_fluid">
                    <!-- {{remote.id}} -->
                    <div  [id]="remote.id" class="remote img-fluid"></div>                                
                    <div id="img_text">{{remote.name}}</div>
                    <div class="toggle-icon">
                        <li><i class="fa fa-times" aria-hidden="true" (click)="sendPeerMessage('q', remote.id, i)"></i></li>                   
                        <li><span (click)="sendPeerMessage('m', remote.id, i)">
                            <i [ngClass]="(remote.volumeBoolean)? 'fas fa-microphone-slash': 'fas fa-microphone'" aria-hidden="true"></i></span></li>
                        <li><i [ngClass]="(remote.videoBoolean)? 'fas fa-video-slash': 'fas fa-video'" aria-hidden="true" (click)="sendPeerMessage('v', remote.id, i)"></i></li>                
                        <!-- <li><i class="buttonFont fa fa-share-square" aria-hidden="true" (click)="toggleShareScreen()"></i></li> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-xl-8">
        <div class="row">
            <div class="col-md-12 col-xl-12 p-1">
                <div id="img_banner">
                    <vg-player style="height:370px">
                        <!-- <video #myMedia [vgMedia]="myMedia" id="my-video" controls poster="{{banner}}"
                               src="https://d3impk8mxw1jpa.cloudfront.net/sponsor/16/5ec6280aac8f9.mp4" type="video/mp4">
                        </video> -->
                        <video #myMedia preload="auto" controls autoplay="true" [vgHls]="videoPlayer" poster="{{banner}}"
                            vg-responsive="false"  [vgMedia]="myMedia" type="video/mp4">
                        </video>
                    </vg-player> 
                    <div id="img_icons">
                        <span><i class='buttonFont fas fa-{{callConnect}}'  (click)="toggleWatchCall()"></i></span>
                    </div>                   
                    
                    <!-- <div id="img_icons" *ngIf="speaker_id === user_id">
                        <span><i class="buttonFont fas fa-{{callConnect}}" [ngStyle]="{'color': connection? 'red': '#342f2fbd'}" (click)="toggleConnection()"></i></span>
                        <span *ngIf="connection"><i class="buttonFont fas fa-{{ volume }}" aria-hidden="true" (click)="toggleVolume()"></i></span>
                        <span *ngIf="connection"><i class="buttonFont fas fa-{{ video }}" aria-hidden="true" (click)="toggleVideo()"></i></span>
                    </div> -->
                </div>
                
            </div>
        </div>
    </div>
</div>