<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="col-md-12 col-xl-12">
                <div class="row">
                        <div class="col-md-9 col-xl-9">
                            <div  style="position: relative">
                                <div >
                                    <span class="float-right">
                                        <button type="button" class="btn">
                                                <i class="fa fa-expand"></i>
                                        </button>
                                        <button type="button" class="btn">Back to expo</button>
                                    </span>
                                </div>
                                <div >
                                   <img src="https://unsmil.unmissions.org/sites/default/files/styles/full_width_image/public/field/image/berlin_conference.jpg?itok=YaUN1FfH" class="img-thumbnail" alt="">
                                </div>
                                <div class="img-text text-white">
                                    <div>
                                        <h5 class="text-white">Vikas samota</h5>
                                        <b>Founder & CEO</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xl-3">
                            <div class="card">
                                <div class="card-header pt-5 pb-5 text-center bg-dark">
                                    <i class="fa fa-scissors text-white" style="font-size: 24px; position: relative; top: 5px; right: 10px;"></i>
                                    <img src="../../../../belivemeet/assets/images/logo.png" alt="">
                                </div>
                                <div class="text-muted text-center bg-dark"><b>Booth Multi Tv</b></div>
                                <div class="card-body">
                                    <p class="text-muted">
                                        We send your barber to your door on demand. Choose your perfect barber, book for a time and place that suits you, and we'll come to your home, office, wherever, for your regular snip, and clean up afterward.
                                    </p>
                                    <p>
                                        <i class="fa fa-globe" style="font-size: 10px"></i> <a href="#" style="font-size: 10px"> &nbsp; http://lookout.multitvsolution.com</a>
                                    </p>
                                    <div class="text-muted p-2" style="background: bisque; border-radius: 5px">
                                        <div class="text-warning text-center">Event Offer:</div>
                                        <p class="text-center">50% Off of your first cut</p>
                                    </div>
                                    <div class="pt-2">
                                        <button class="btn text-white w-100" style="background: #28a745"><i class="fa fa-thumbs-up"></i>
                                            Register
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>
