
<div class="pcoded-main-container">
  <div class="pcoded-content">

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="column">
              <div class="row">
                <div class="col-sm-6">
                  <img src="./assets/images/4th_1.jpg" style="border-radius: 5px; width:100%" height="200px">
                  <p style="text-align: justify; margin-top: -35px; position: absolute;
                  top: 60px;
                  right: 30px; background-color: white; color: black; opacity: 0.6; padding: 10px;"> Miguel Faber
                  <br> <br>
                Public relation at hopin</p>
                  <img  style="width:100%; border-radius: 5px; background-color: black;" height="200px">
                  <div style="text-align: justify; margin-top: -35px; position: absolute;
                  top: 272px;
                  right: 35px; background-color: white; color: black; opacity: 0.6; padding: 10px;"> Queue
                  <i class="fa fa-times float-right" aria-hidden="true"></i>
                  <hr>

                Roundiable Chat is currently full <br>
              You are in position 1 out of 254.</div>

                </div>
                <div class="col-sm-6">
                  <img src="./assets/images/4th_2.jpg" style="width:100%; border-radius: 5px; " height="200px">
                  <p style="text-align: justify; margin-top: -35px; position: absolute;
                  top: 60px;
                  right: 30px; background-color: white; color: black; opacity: 0.6; padding: 10px;"> Tariq Taybi
                  <br> <br>
                UX Designer at hopin</p>
                  <img src="./assets/images/4th_3.jpg" style="width:100%; border-radius: 5px;" height="200px">
                  <p style="text-align: justify; margin-top: -35px; position: absolute;
                  top: 272px;
                  right: 18px; background-color: white; color: black; opacity: 0.6; padding: 10px;"> Eve Smith
                  <br> <br>
                Programmer  at hopin</p>
                </div>
              </div>




            </div>
        </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
    <div class="card">
      <div class="card-header">


        <i class="fa fa-signal" aria-hidden="true"></i>
        <p class="float-right">Tariq Taybi
          <img src="./assets/images/avatar-2.jpg" alt="" height="25px" width="25px" style="border-radius: 50%;">
        </p>
        <div class="card-header">

        </div>
        <h5>Roundiable Chat</h5>
        <hr>
      </div>
      <div class="card-body">
        <ul class="feed-blog pl-0">
          <li class="active-feed">
            <div class="feed-user-img">
              <img src="./assets/images/4th_1.jpg" class="img-radius" alt="User-Profile-Image">
            </div>
            <h6><span class="badge badge-danger">File</span> Eddie uploaded new files: <small class="text-muted">2 hours ago</small></h6>
            <p class="m-b-15 m-t-15">hii <b> @everone</b> Lorem Ipsum is  typesetting industry.</p>

          </li>

          <li class="diactive-feed mb-0">
            <div class="feed-user-img">
              <img src="./assets/images/4th_2.jpg" class="img-radius " alt="User-Profile-Image">
            </div>
            <h6><span class="badge badge-primary">comment</span> abc posted a task:<small class="text-muted">6 hours ago</small></h6>
            <p class="m-b-15 m-t-15">hii <b> @everone</b> Lorem Ipsum is  typesetting industry.</p>
          </li>


          <li>
            <input type="text" class="form-control" placeholder="Send a mesaage ...">
            <p style="color:grey;"></p>
          </li>
        </ul>
      </div>

    </div>
  </div>
    </div>
    </div>

      <!-- [ breadcrumb ] start -->
      <!-- <div class="page-header">
          <div class="page-block">
              <div class="row align-items-center">
                  <div class="col-md-12">
                      <div class="page-header-title">
                          <h5 class="m-b-10">Dashboard Analytics</h5>
                      </div>
                      <ul class="breadcrumb">
                          <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                          <li class="breadcrumb-item"><a href="#!">Dashboard Analytics</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div> -->
      <!-- [ breadcrumb ] end -->
      <!-- [ Main Content ] start -->

  <!-- [ Main Content ] end -->
  </div>
