<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
      <div class="pcoded-content">
          <div class="pcoded-inner-content">
              <div class="main-body">
                  <div class="page-wrapper">

                      <div class="row">
                          <!-- [ fixed-layout ] start -->
                          <div class="col-sm-8" style="height: auto;">
                              <div class="card">
                                  <img [src]="imgUrl" class="img-fluid" alt="" height="auto" width="100%">
                                  <div class="text-block1">

                                      <p>Events can include webinars <br> or live streamas part of the <br>Schedule for the full <br>confrnece experince.</p>
                                    </div>

                              </div>



                              </div>

              <div class="col-md-4" style="padding-bottom: 50px;">
                <div class="card">
                  <div class="card-header">
                    <h5>Event Live Chat</h5>

                    <i class="fa fa-check float-right" aria-hidden="true"></i>
                    <hr>
                  </div>
                  <div class="card-body">
                    <ul class="feed-blog pl-0">
                      <li class="active-feed">
                        <div class="feed-user-img">
                          <img src="./assets/images/avatar-4.jpg" class="img-radius " alt="User-Profile-Image">
                        </div>
                        <h6><span class="badge badge-danger">File</span> Eddie uploaded new files: <small class="text-muted">2 hours ago</small></h6>
                        <p class="m-b-15 m-t-15">hii <b> @everone</b> Lorem Ipsum is  typesetting industry.</p>

                      </li>

                      <li class="diactive-feed mb-0">
                        <div class="feed-user-img">
                          <img src="./assets/images/avatar-4.jpg" class="img-radius " alt="User-Profile-Image">
                        </div>
                        <h6><span class="badge badge-primary">comment</span> abc posted a task:<small class="text-muted">6 hours ago</small></h6>
                        <p class="m-b-15 m-t-15">hii <b> @everone</b> Lorem Ipsum is  typesetting industry.</p>
                      </li>
                      <li>
                        <input type="text" class="form-control" placeholder="Say Something Nice ...">
                        <p style="color:grey;">Press enter and send message</p>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
                          </div>

                          <!-- <div class="col-md-9">

                          </div> -->
                          <!-- [ fixed-layout ] end -->
                      </div>
                      <!-- [ Main Content ] end -->
                      <!-- [ Main Content ] start -->
                      <div class="row">





                      </div>
                      <!-- [ Main Content ] end -->
                  </div>
              </div>
          </div>
      </div>
  </div>
