<div class="card" style="min-height: 800px;">
    <div class="pt-3 pb-3 pl-1 pr-4" style="font-weight: 600">
        <div id="search_tab">
            <span class="fa fa-search"></span>
            <input type="text" class="form-control" (keyup)="searchUsersList($event.target.value)" placeholder="Search Participants">
        </div>
    </div>
    <div class="row" *ngIf="responseStatus">
        <div class="col-md-11 col-xl-11 col-sm-11 col-xs-1">
            <div class="card p-2" style="border-left: 5px solid cadetblue">
                <b>{{response}}</b>
            </div>
        </div>
        <div class="col-md-1 col-xl-1 col-sm-1"></div>
    </div>
    <div class="row" *ngIf="!responseStatus">
        <div class="col-md-11 col-xl-11 col-sm-11 col-xs-1">
            <div class="card p-2" style="border-left: 5px solid cadetblue; margin-bottom: 5px;"  *ngFor="let list of loggedinUsersList; let i = index;">
                <div id="image_profile">
                  <span class="profileImage1 card-body">{{list.name | slice:0:1}}</span>
                    <div id="profile_detail">
                        <div id="profile_name">{{list.name}}</div>
                        <div>{{list.email}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-xl-1 col-sm-1"></div>
    </div>
</div>
