<div class="row">
        <div class="col-md-8 col-xl-9">
                <div class="card">
                        <div class="close-window"><i class="fa fa-window-close"></i></div>
                        <div class="row card-body">
                                <div class="col-md-4 col-xl-4">
                                    <img src="../../../../../../belivemeet/assets/images/4th_1.jpg" id="thumbnail" alt="" class="img-thumbnail">
                                    <div id="image_text">
                                        <h6 style="color: yellow;">Betty Hawkins</h6>
                                        <p>Business Analyst, Airmeet <br>
                                        Mumbai, India</p>
                                      </div>
                                </div>
                                <div class="col-md-4 col-xl-4">
                                    <img src="../../../../../../belivemeet/assets/images/3rdslide.jpg" id="thumbnail" alt="" class="img-thumbnail">
                                    <div id="image_text">
                                        <h6 style="color: yellow;">Samantha Virgil</h6>
                                        <p>UX Designer, Amazon <br>
                                        Bangalore, India</p>
                                      </div>
                                </div>
                                <div class="col-md-4 col-xl-4">
                                    <img src="../../../../../../belivemeet/assets/images/4th_2.jpg" id="thumbnail" alt="" class="img-thumbnail">
                                    <div id="image_text">
                                        <h6 style="color: yellow;">Jared Dennis</h6>
                                        <p>Product Manager, Oracle <br>
                                        San Diego, USA</p>
                                      </div>
                                </div>
                        </div>
                        <div class="row card-body">
                                <div class="col-md-12 col-xl-12">
                                    <div class="row mx-md-n5">
                                      <div class="col px-md-5">
                                        <span class="dot_1"></span><span style="color: grey">Live</span>
                                        <span class="text-muted"><i class="fa fa-users pl-2"></i>236</span>
                                      </div>
                                      <div class="text-center text-muted">

                                          <span id="icons_1"><i class="fa fa-hand-stop-o p-2"></i></span>
                                          <span id="icons_1"><i class="fa fa-smile-o p-2"></i></span>
                                      </div>
                                      <div class="col px-md-5">
                                          <div class="float-right text-muted">

                                          </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
        </div>
        <div class="col-md-4 col-xl-3">
            <div class="card">
                <div class="row card-body">
                        <div class="col-md-12 col-xl-12 p-0">
                                <div>
									<h6><i class="fa fa-television"></i> Channels(2)</h6>
                                </div>
                                <div class="h-5 d-inline-block"></div>
								<div class="tab-content" id="v-pills-tabContent">
                                    <ul class="list-group">
                                        <li class="list-group-item" id="channels_item">
                                           <div>
                                               <img src="https://as2.ftcdn.net/jpg/02/19/05/03/500_F_219050338_zo4zrdrKVp2pxX72mp5qzCbuHSJZqref.jpg" class="rounded-circle" alt="" width="36" height="36">
                                               <div id="channels_item_list">
                                                   <b>General:</b>
                                                   <p>Markus: Markets!!!</p>
                                                <span class="float-right"><span class="badge badge-pill badge-primary">2</span></span>
                                               </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item" id="channels_item">
                                           <div>
                                               <img src="https://as2.ftcdn.net/jpg/00/70/16/29/500_F_70162977_5R1XfU91DYkGfPpMskUFBegyX3hRaOBW.jpg" class="rounded-circle" alt="" width="36" height="36">
                                               <div id="channels_item_list">
                                                   <b>Questions:</b>
                                                   <p>Markus: Markets!!!</p>

                                               </div><span class="float-right"><span class="badge badge-pill badge-primary">2</span>
                                            </span>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="h-5 d-inline-block"></div>
                                    <h6> <i class="fa fa-list"></i>  Direct Messages(2)</h6>

                                    <ul class="list-group">
                                        <li class="list-group-item" id="channels_item">
                                            <div>
                                                <img src="https://www.eharmony.com/blog/wp-content/uploads/2017/07/short-men-and-dating-e1499470604767.jpg" class="rounded-circle" alt="" width="36" height="36">
                                                <div id="channels_item_list">
                                                    <b>Betty Hawkins:</b>
                                                   <p>Markus: Markets!!!</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item" id="channels_item">
                                            <div>
                                                <img src="https://www.eharmony.com/blog/wp-content/uploads/2017/07/short-men-and-dating-e1499470604767.jpg" class="rounded-circle" alt="" width="36" height="36">
                                                <div id="channels_item_list">
                                                    <b>Betty Hawkins:</b>
                                                   <p>Markus: Markets!!!</p>
                                                </div>
                                                <span class="float-right"><span class="badge badge-pill badge-primary">2</span>
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
								</div>

							</div>
                </div>
            </div>
        </div>
</div>
