
<ul class="list-group">
        <li class="list-group-item">
            <div id="general_items">
                <div id="general_name">
                    <div id="letter"><span>R</span></div>
                    <div id="text">Hello this is Quesitons.</div>                    
                </div>
            </div> 
        </li>
        <li class="list-group-item">
            <div id="general_items">
                <div id="general_name">
                    <div id="letter"><span>R</span></div>
                    <div id="text">Hello this is Quesitons.</div>                    
                </div>
            </div> 
        </li>
        <li class="list-group-item">
            <div id="general_items">
                <div id="general_name">
                    <div id="letter"><span>R</span></div>
                    <div id="text">Hello this is Quesitons.</div>                    
                </div>
            </div> 
        </li>
        <li class="list-group-item">
            <div id="general_items">
                <div id="general_name">
                    <div id="letter"><span>R</span></div>
                    <div id="text">Hello this is Quesitons.</div>                    
                </div>
            </div> 
        </li>
        <li class="list-group-item">
            <div id="general_items">
                <div id="general_name">
                    <div id="letter"><span>R</span></div>
                    <div id="text">Hello this is Quesitons.</div>                    
                </div>
            </div> 
        </li>
    </ul>