<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
      <div class="pcoded-content">
          <div class="pcoded-inner-content">
              <div class="main-body">
                  <div class="page-wrapper">

                      <div class="row">
                          <!-- [ fixed-layout ] start -->
                          <div class="col-lg-8 col-xl-8 col-md-8 col-sm-12 col-xs-12">
                              <div class="card">
                                  <img [src]="imgUrl" class="img-fluid rounded" alt="" height="auto" width="100%">
                                  <div class="text-block1">

                                      <p>Set a timer to <br> indicate how <br> long each meeting <br> can take <br> place for</p>
                                    </div>
                                    <div class="text-block2">
                                      <p>If you both mutually click <br> 'connect' then you will exchange <br> details after the event</p>
                                    </div>

                              </div>


                          </div>
                          <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12 col-xs-12">
                              <div class="card">
                                  <!-- <div class="card-header">
                                      <h3>0:32s</h3>
                                      <h5>Jane, from <br> London</h5>
                                  </div> -->
                                  <div class="card-body">
                                      <h3>0:32s</h3>
                                      <h6>Jane, from <br> London</h6>
                                      &nbsp;
                                      <p>A Socially <br> Consicous geek passionate <br> about story telling.</p>
                                      <p style="color: grey; font-size: small;"> More than 100km <br> distance between you. <br>
                                          <small style="color: red; padding-left: 70px;"><i class="fa fa-flag" aria-hidden="true"></i> Report this meeting.</small>
                                      </p>


                             <div class="card-header">

                             </div>
                             <div class="card-header">

                          </div>
                          <div class="card-header">

                          </div>
                          <div class="card-body">

                          </div>

                                      <p style="color:#4099ff; font-size: small; padding-left: 50px;"> Leave Meeting. <i class="fa fa-sticky-note"></i></p>


                                  </div>

                              </div>
                          </div>
                          <!-- <div class="col-md-9">

                          </div> -->
                          <!-- [ fixed-layout ] end -->
                      </div>
                      <!-- [ Main Content ] end -->
                      <!-- [ Main Content ] start -->

                      <!-- [ Main Content ] end -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
