
#image_profile {
  img {
      float: left;
      border-radius: 50%;
  }
  #profile_detail {
      padding: 5px;
      margin-left: 55px;

      #profile_name {
          font-weight: 600;
      }
  }
}
.profileImage {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: cadetblue;
  font-size: 14px;
  color: #fff;
  text-align: center;
  float: right;
  font-weight: bold;
  padding: 10px;
}
.profileImage1 {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #28a745;
  font-size: 14px;
  color: #fff;
  text-align: center;
  float: left;
  font-weight: bold;
  padding: 10px;
}
.bord:nth-child(even) {
  border-left: 5px solid cadetblue;
}

.bord:nth-child(odd) {
  border-left: 5px solid black;
}
#profile_details {
  padding: 0px;
  margin-left: 115px;

  #profile_name {
      font-weight: 600;
  }
}
#profile_detail1 {
  padding: 5px;
  margin-left: 55px;

  #profile_name {
      font-weight: 600;
  }
}
#search_tab .form-control {
	padding-left: 25px;
}
#search_tab {
	position: relative;
}
#search_tab .fa-paper-plane {
	position: absolute;
	color: white;
	vertical-align: center;
	top: 1px;
    right: 1px;
    font-size: 20px;
    background-color: #da251c;
    width: 37px;
    height: 33px;

}
