<div class="row">
        <div class="col-md-8 col-sm-12 col-xl-9">
                <div class="card">
                        <div class="close-window"><i class="fa fa-window-close"></i></div>
                        <div class="row card-body">
                            <div class="col-md-6 col-xl-6">
                                <img src="../../../../../../belivemeet/assets/images/4th_3.jpg" id="thumbnail" alt="" class="img-thumbnail">
                            </div>
                            <div class="col-md-6 col-xl-6">
                                <img src="../../../../../../belivemeet/assets/images/4th_2.jpg" id="thumbnail" alt="" class="img-thumbnail">
                            </div>
                        </div>
                        <div class="row card-body">
                            <div class="col-md-12 col-xl-12">
                                <div class="row mx-md-n5">
                                  <div class="col px-md-5">
                                    <span class="dot"></span><span style="color: #ff2046">Live</span>
                                    <span class="text-muted"><i class="fa fa-users pl-2"></i> 546</span>
                                  </div>
                                  <div class="text-center text-muted">
                                      <i class="fa fa-video-camera p-2"></i>
                                      <i class="fa fa-microphone p-2"></i>
                                      <i class="fa fa-share-square p-2"></i>
                                      <i class="fa fa-stop p-2" style="color: #ff2046; border-radius: 5px; background: #5f5959;"></i>
                                      <i class="fa fa-hand-stop-o p-2"></i>
                                      <i class="fa fa-smile-o p-2"></i>
                                      <i class="fa fa-clipboard p-2"></i>
                                  </div>
                                  <div class="col px-md-5">
                                      <div class="float-right text-muted">
                                            <span>RECORDING</span>
                                            <i class="fa fa-eye-slash p-2"></i>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xl-3">
            <div class="card ">
                <div class="row card-body">
                    <div class="col-md-12 col-xl-12 p-0">
                        <div class="tab-content" id="v-pills-tabContent">
                                <h5 class="text-dark">Requests(07)</h5>
                                <div class="card">
                                    <img class="card-img-top" src="../../../../../../belivemeet/assets/images/4th_2.jpg" alt="Card image cap">
                                    <div class="text-muted">
                                        <span class="float-left p-2"><i class="fa fa-bell"></i></span>
                                        <span class="float-right p-2"><i class="fa fa-television"></i></span>
                                        <div id="img-profile">
                                            <img class="img-thumbnail" src="../../../../../../belivemeet/assets/images/4th_3.jpg" height="70" width="65" alt="">
                                            <h6 class=" text-dark p-0">Prince</h6>
                                            <span style="font-size: 10px; line-height: 16px;">Business Analyst</span>
                                            <p style="font-size: 10px; line-height: 16px;">Gurgram</p>
                                        </div>
                                    </div>
                                    <div class="card-body pt-0 pl-3 pr-3" style="margin-top: -25px;">
                                      <button id="btn-decline" class="btn float-left">Decline</button>
                                      <button id="btn-accept" class="btn float-right">Accept</button>
                                    </div>
                                </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</div>
